<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    {% load static %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">TodoApp</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'todo_create' %}">Create New Todo</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center mb-0">Todo List</h1>
            </div>
            <div class="card-body">
                <ul class="list-group mb-4">
                    {% for todo in todos %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="{% url 'todo_detail' todo.id %}" class="text-warning">{{ todo.title }}</a>
                            <span class="badge badge-pill {% if todo.is_done %}badge-success{% else %}badge-danger{% endif %}">
                                {% if todo.is_done %}Done{% else %}Not Done{% endif %}
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>